USE [master]
GO
/****** Object:  Database [JugueteriaBD]    Script Date: 23/03/2017 05:16:01 p. m. ******/
CREATE DATABASE [JugueteriaBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JugueteriaBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\JugueteriaBD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JugueteriaBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\JugueteriaBD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JugueteriaBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JugueteriaBD]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 23/03/2017 05:16:01 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](100) NULL,
	[Maca] [varchar](100) NULL,
	[EdadMinima] [int] NULL,
	[EdadMaxima] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioVenta] [float] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
